RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.btek.cc$ [NC]
RewriteRule (.*)$ https://btek.cc/$1 [R=301,L]

DirectoryIndex index.php

# RewriteCond %{REQUEST_URI} !^/_public/
# RewriteRule ^(.*)$ _public/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php [NC,L]
# RewriteRule . index.php
RewriteRule ^(.*)$ router.php?q=$1 [L,QSA]