Options -MultiViews

Header set Cache-Control max-age=1800, public


RewriteEngine On

# redirect www to not
RewriteCond %{HTTP_HOST} ^www.btek.cc$ [NC]
RewriteRule (.*)$ https://btek.cc/$1 [R=301,L]

# rewrite files existing in public directory
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule ^(.*)$ public/$1 [L]

# pass through requests to public directory
RewriteRule ^public/(.+)$ public/$1 [L,QSA]

# fallback on router.php
RewriteRule ^(.*)$ router.php?q=$1 [L,QSA]
