---
title: Benevolent Tech
heading: 'Ideas that thrive, online and beyond.'
description: 'A tight-knit team with technical and emotional depth, here to help you catch up to the future.'
image: /images/benevolent_tech_dc_seo.jpg
---

<section class="hero diagonal">
  <div class="container">
    <h2 class="editable">Get online, faster and smarter.</h2>
    <p class="subtext editable">We specialize in smart online technologies to grow your business and connect your community.</p>
    <!--<p style="margin-bottom:-30px;">What clients are saying &#8595;</p>-->
    <!--<p><a class="button alt" href="{{ site.baseurl }}/contact/">See Pricing<p></p>-->
  </div>
</section>

<section class="diagonal" style="padding:10px 0;">
  <p style="text-align:right; margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px;">
    What clients are saying &#8595;
  </p>
</section>

<!--<section class="diagonal" style="padding:0px 0 10px; background:#94040B;">-->
  <!--<p style="text-align:center;margin-bottom:0;color:#ccc;">What clients are saying &#8595;</p>-->
<!--</section>-->

<section class="diagonal alternate">
  <div class="container halves">
    <div>
      <ul class="image-list image-list-right">
        <li><a href="https://www.apmfoodworks.com" target="_blank"><img src="data:image/png;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ site.baseurl }}/images/bt-apmfoodworks.png" width="280" style="max-width:80%;"/></a></li>
      </ul>
    </div>
    <div>
      <p class="show-above-mobile" style="text-align: center;"><a href="https://saraanani.com" target="_blank"><img src="data:image/png;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ site.baseurl }}/images/bt-apmfoodworks.png" width="190" style="max-width:80%;"/></a></p>
      <h3 class="editable"><a href="https://www.apmfoodworks.com" target="_blank">APM Foodworks</a></h3>
      <p class="editable">"Benevolent Tech recommended tweaks to our blog posts and unifying our 3 brands into one e-commerce website to maximize SEO. We saw a 240% boost in Google rankings in 1 month!" - <a href="mailto:alan@apmfoodworks.com?subject=Would you recommend Benevolent Tech?">Alan</a></p>
    </div>
  </div>
</section>

<section class="diagonal patterned">
  <div class="container halves">
    <div>
      <p class="show-above-mobile" style="text-align: center;"><a href="https://saraanani.com" target="_blank"><img src="data:image/png;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ site.baseurl }}/images/bt-saraanani.png" width="200" style="max-width:80%;"/></a></p>
      <h3 class="editable"><a href="https://saraanani.com" target="_blank">Sara Anani, Inc.</a></h3>
      <p class="editable">"Benevolent Tech is truly skilled at website development -- there aren't many dev shops out there that could deliver my vision." - <a href="mailto:sara@saraanani.com?subject=Would you recommend Benevolent Tech?">Sara</a></p>
    </div>
    <div>
      <ul class="image-list">
        <li><a href="https://saraanani.com" target="_blank"><img src="data:image/png;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ site.baseurl }}/images/bt-saraanani.png" width="300" style="max-width:80%;"/></a></li>
      </ul>
    </div>
  </div>
</section>

<!--<section class="diagonal">-->
  <!--<div class="container editable" style="margin-top:20px;margin-bottom:-50px;max-width:700px;">-->
    <!--<h3 style="text-align:center;">How We Help</h3>-->
    <!--<ol>-->
      <!--<li>Building you a beautiful, sales-optimized website to guide customers happily down a path to purchasing your product, while at the same time reflecting your brand vision.</li>-->
      <!--<li>Getting your business more attention with custom-tailored search engine optimization, advertising and social media branding.</li>-->
      <!--<li>Continuous improvements based on real-world analytics.</li>-->
    <!--</ol>-->
  <!--</div>-->
<!--</section>-->

<section class="diagonal alternate">
  <div class="container halves">
    <div>
      <ul class="image-list">
        <li style="font-size:150%;">You</li>
        <li style="margin-bottom:20px;">+</li>
        <li><img src="data:image/png;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ site.baseurl }}/images/thumb-lg.png" width="130" style="max-width:80%;"/></li>
      </ul>
    </div>
    <div>
      <p class="show-above-mobile" style="font-size:60px;">You + <img src="data:image/png;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ site.baseurl }}/images/thumb-lg.png" width="55"/></p>
      <h3 class="editable">We Are Your Partners</h3>
      <p class="editable">Customers are searching the internet right now for your product and choose competitors because they don't know you exist.</p>
      <p><a href="/contact" class="button">Team up and get found &#8594;</a></p>
      <!--<ol>-->
      <!--<li>Strategy</li>-->
      <!--<li>Keyword planning</li>-->
      <!--<li>On-site and off-site optimization</li>-->
      <!--<li>Content creation</li>-->
      <!--<li>Ad campaigns</li>-->
      <!--</ol>-->
      <!--<p>↳ all with a focus on generating leads and growing your business.</p>-->
    </div>
  </div>
</section>

<!--<section class="diagonal patterned">-->
<!--<div class="container halves">-->
<!--<div>-->
<!--<h3 class="editable">Some of our work</h3>-->
<!--<p class="editable">We take pride in our previous work and our happy partners. We cater to small businesses and non-profits to boost business and increase exposure.</p>-->
<!--<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;<p></p>-->
<!--</div>-->
<!--<div>-->
<!--<ul class="image-grid home">-->
<!--{% for client in site.clients limit: 4 %}-->
<!--&lt;!&ndash; <li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /> &ndash;&gt;-->
<!--<li style="background-image:url({% include relative-src.html src=client.image_path %});"><a target="_blank" href="{{ site.baseurl }}{{ client.external_url }}"></a>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->