---
layout: page
title: SEO Primer Blog Series
heading: SEO Primer Blog Series
subtitle: Climbing your way to the top of the search results.
description: Our intro to climbing your way to the top of the search results.
image: /images/dc_marketing_seo.png
---

<section class="share diagonal alternate" style="padding:10px 0;">
  <div class="not-skewed" style="margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px; font-size:19px;">
    <table style="float:right;">
      <tr>
        <td>Share on</td>
        <td style="padding-top:5px;">{% include share.html %}</td>
      </tr>
    </table>
    <div style="clear:both"></div>
  </div>
</section>


<section class="diagonal">
  <!--<p style="font-size:50px;text-align:center;">Coming Soon!</p>-->

  <div class="text-container editable">
    <p><strong>We’ve come a long way since the early days of the Internet.</strong></p>
    
    <iframe src="https://giphy.com/embed/4h5f376fFWPGE" width="480" height="362" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bmw-katie-couric-bryant-gumbel-4h5f376fFWPGE">via GIPHY</a></p>

    <p>Back then, a few, bare-bones search engines helped “computer geeks” navigate a relatively limited number of websites along the “information superhighway.”</p>

    <p>But today, practically anyone in world can tap into a seemingly endless storehouse of information just by typing a few words and clicking a mouse.</p>

    <p>Search engines, including the behemoth Google, have made all that possible. Their sophisticated algorithms can help you get your products and services to a wide audience without spending a ton of money.</p>

    <p>That’s great news for small businesses looking for new customers. But it’s not a slam-dunk, by any means.</p>

    <p>Getting the attention of search engines can be challenging. You’re aiming for a spot on the first page of search results – or, better yet, among the top 10 search results. To reach that goal, you’ll have to engage in an ongoing battle that rivals the competitive force of the Olympic games.</p>

    <p>We call that battle “search engine optimization” or SEO.</p>

    <p>Fortunately, we’re here to help you win the SEO battle. Below is a collection of articles that form a solid foundation to understanding and optimizing search engine results -- to attract more people to your site. If you have any questions or feedback along the way, <a href="/contact">shoot us an email</a> or <a href="https://twitter.com/benevolentweb">tweet at us!</a></p>
  </div>
</section>


<section class="diagonal patterned post-seperator" style="padding:70px 0;">
  <div class="container not-skewed">
    <h2 style="text-align:center; font-size:66px; margin:0;">The Posts</h2>
  </div>
</section>

<section class="diagonal alternate" style="padding:150px 0">
  <!--<p style="font-size:50px;text-align:center;">Coming Soon!</p>-->

  <div class="text-container">
    <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
    <ul class="blog-posts">

      {% comment %}
      Can't figure out how to do the below with exclude, so I did it the long way.
      {% assign posts = site.posts | where_exp:"item", "item.categories contains 'Marketing'" %}
      {% endcomment %}

      {% assign posts = site.posts | sort: 'date' %}
      {% for post in posts %}
      {% if post.series contains 'SEO Primer' %}
      <li class="blog-post">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ forloop.index }}. {{ post.title }}</a></h4>
        <div class="post-content">
          <p>{{ post.description }}</p>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

<section class="share diagonal" style="padding:10px 0;">
  <div class="not-skewed" style="margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px; font-size:19px;">
    <table style="float:right;">
      <tr>
        <td>Share on</td>
        <td style="padding-top:5px;">{% include share.html %}</td>
      </tr>
    </table>
    <div style="clear:both"></div>
  </div>
</section>
