header {
  color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}

	}

	.company-name {
		background-image: url(/images/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 200px;
		height: 80px;
		position: relative;
		z-index: 99;
		&:hover {
			background-image: url(/images/logo-alt.png);
		}

		a {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}
	}
}