---
layout: page
title: Learning Center
heading: Learning Center
subtitle: Our tips and tricks on charting the digital world.
description: Our tips and tricks on charting the digital world.
pagination:
  enabled: true
---

<section class="share diagonal alternate" style="padding:10px 0;">
	<div class="not-skewed" style="margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px; font-size:19px;">
		<table style="float:right;"><tr><td>Share on </td><td style="padding-top:5px;">{% include share.html %}</td></tr></table>
		<div style="clear:both"></div>
	</div>
</section>

<section class="diagonal">
  <!--<p style="font-size:50px;text-align:center;">Coming Soon!</p>-->
  
	<div class="text-container">
	    <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
		<ul class="blog-posts">
			<!-- {% for post in site.posts %}
			<li class="blog-post">{% include post-summary.html post=post %}</li>
			{% endfor %} -->
			{% include list-posts.html posts=paginator.posts %}
		</ul>
	</div>
</section>

{% if paginator.total_pages > 1 %}
	<section class="diagonal alternate">
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	</section>
{% endif %}

<section class="share diagonal alternate" style="padding:10px 0;">
	<div class="not-skewed" style="margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px; font-size:19px;">
		<table style="float:right;"><tr><td>Share on </td><td style="padding-top:5px;">{% include share.html %}</td></tr></table>
		<div style="clear:both"></div>
	</div>
</section>
