---
layout: page
title: The Grapevine
heading: The Grapevine
subtitle: The Latest News from Benevolent Tek
description: The Latest News from Benevolent Tek
---

<section class="share diagonal alternate" style="padding:10px 0;">
	<div class="not-skewed" style="margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px; font-size:19px;">
		<table style="float:right;"><tr><td>Share on </td><td style="padding-top:5px;">{% include share.html %}</td></tr></table>
		<div style="clear:both"></div>
	</div>
</section>

<section class="diagonal">
  <!--<p style="font-size:50px;text-align:center;">Coming Soon!</p>-->
  
	<div class="text-container">
	    <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
		<ul class="blog-posts">
			{% assign posts = site.posts | where_exp:"item", "item.categories contains 'News'" %}
			{% for post in posts %}
			<li class="blog-post">{% include post-summary.html post=post %}</li>
			{% endfor %}
			<!--{% include list-posts.html posts=paginator.posts %}-->
		</ul>
	</div>
</section>

<section class="share diagonal alternate" style="padding:10px 0;">
	<div class="not-skewed" style="margin-bottom:0; max-width:1000px; margin-left:auto; margin-right:auto; padding-right:20px; font-size:19px;">
		<table style="float:right;"><tr><td>Share on </td><td style="padding-top:5px;">{% include share.html %}</td></tr></table>
		<div style="clear:both"></div>
	</div>
</section>
